{% extends 'base.html' %}

{% block title %}
Регистрация оператора
{% endblock %}

<link href="static/css/signin.css" rel="stylesheet">



{% block body %}


<body class="text-center" cz-shortcut-listen="true">
    <form class="container align-self-center form-signin" action = "/registration_worker" method = "post">
        <h1 class="h3 mb-3 font-weight-normal">Заполните анкету</h1>

        <div align="left">  ID сотрудника</div>
        <label for="id_worker" class="sr-only">ID</label>
        <input type="text" id="id_worker" name="id_worker" class="container  form-control" placeholder="ID" required="" autofocus=""><br>
        <div align="left">ФИО сотрудника<div>
        <label for="name_worker" class="sr-only">ФИО</label>
        <input type="text" id="name_worker" name="name_worker" class="container  form-control" placeholder="ФИО" required="" autofocus=""><br>
        <div align="left">Должность сотрудника<div>
        <label for="post_worker" class="sr-only">Должность</label>
        <input type="text" id="post_worker" name="post_worker" class="container  form-control" placeholder="Должность" required="" autofocus=""><br>
        <div align="left">Номер телефона<div>
        <label for="phone_number" class="sr-only">Номер телефона</label>
        <input type="text" id="phone_number" name="phone_number" class="container  form-control" placeholder="Номер телефона" required="" autofocus=""><br>
        <div align="left">Эл. почта<div>
        <label for="reg_login" class="sr-only">Эл. почта</label>
        <input type="email" id="reg_login" name="reg_login" class="container  form-control" placeholder="Email address" required="" autofocus=""><br>
        <div align="left">Пароль<div>
        <label class="sr-only">Пароль</label>
        <input type="password" id="inputPassword1" name="reg_password1" class="container form-control" placeholder="Password" required=""><br>
        <div align="left">Введите пароль еще раз<div>
        <label for="inputPassword1" class="sr-only">Введите пароль еще раз</label>
        <input type="password" id="inputPassword2" name="reg_password2" class="container form-control" placeholder="Password" required=""><br>

                    {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-danger" role="alert" width = '50'>
          {{message}}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрировать</button>
</form>

    <div class="parent" align = 'center'>
<a href="{{ url_for('admin_space') }}">Вернуться в личный кабинет</a>
    </div>

</body>

<!-- <a href="{{ url_for('main') }}">Main page</a> -->


{% endblock %}



